@model AssetTracker.Core.Models.AssetRegistration

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AssetRegistration</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AssetId, "AssetId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AssetId", String.Empty)
                @Html.ValidationMessageFor(model => model.AssetId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, "OrganizationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SerialNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SerialNo)
                @Html.ValidationMessageFor(model => model.SerialNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationCode)
                @Html.ValidationMessageFor(model => model.RegistrationCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssetLocationId, "AssetLocationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AssetLocationId", String.Empty)
                @Html.ValidationMessageFor(model => model.AssetLocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, "EmployeeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeId", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
